.navbar {
    .navbar-collapse {
        .navbar-nav {
            .nav-link {
                font-size: 14px;
                color: #282828;
                font-weight: 700;
                line-height: 2.143;

                &:hover {
                    color: #8b2229;
                }

                &.active {
                    color: #8b2229;
                }

                .bigger {
                    font-size: 22px;
                }
            }
        }
    }
}